#root {
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  margin-right: 10px;
}

input::placeholder {
  color: #8e8e8e;
}

button {
  background-color: #10a37f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #0d8c6a;
}